<!-- <div class="h-16 fixed top-0 left-0 right-0">
    <app-header></app-header>
</div> -->
<div class="">

    <div class="min-h-screen flex">
        <div class="grow">
            <div
                class="fixed md:top-0 right-0 bottom-0 left-0 md:w-64 md:ps-5 md:pe-2 md:shadow-md md:border-slate-400 max-md:fixed max-md:bg-white max-md:h-20 max-md:border-t max-md:flex max-md:items-center">
                <div class="profile max-md:hidden mt-5 pb-5 mb-5 border-b border-dashed border-slate-400">
                    <img class="block w-20 aspect-square rounded-full object-cover" src="assets/profile.jpg"
                        alt="profile">
                    <h2 class="text-xl font-semibold -tracking-tight">Liam Weston</h2>
                    <p class="text-sm text-slate-400">Student</p>
                </div>
                <ul class="max-md:flex max-md:w-full max-md:items-center max-md:justify-evenly">
                    <li class="py-2">
                        <a routerLink="/discover" routerLinkActive="nav-link-active"
                            class="group/nav-link text-lg font-semibold -tracking-tight flex max-md:flex-col items-center gap-2 cursor-pointer">
                            <i class="pi pi-compass group-hover/nav-link:text-sky-500 duration-200"
                                style="font-size: 1.5rem;"></i>
                            <span class="max-md:text-xs">Discover</span>
                        </a>
                    </li>
                    <li class="py-2">
                        <a routerLink="/following" routerLinkActive="nav-link-active"
                            class="group/nav-link text-lg font-semibold -tracking-tight flex max-md:flex-col items-center gap-2 cursor-pointer">
                            <i class="pi pi-users group-hover/nav-link:text-sky-500 duration-200"
                                style="font-size: 1.5rem;"></i>
                            <span class="max-md:text-xs">Following</span>
                        </a>
                    </li>
                    <li class="py-2 md:hidden">
                        <a routerLink="/mentors" routerLinkActive="nav-link-active"
                            class="group/nav-link text-lg font-semibold -tracking-tight flex max-md:flex-col items-center gap-2 cursor-pointer">
                            <i class="pi pi-comments group-hover/nav-link:text-sky-500 duration-200"
                                style="font-size: 1.5rem;"></i>
                            <span class="max-md:text-xs">Mentors</span>

                        </a>
                    </li>
                    <li class="py-2">
                        <button (click)="startSearch()"
                            class="group/nav-link text-lg font-semibold -tracking-tight flex max-md:flex-col items-center gap-2 cursor-pointer">
                            <i class="pi pi-search group-hover/nav-link:text-sky-500 duration-200"
                                style="font-size: 1.5rem;"></i>
                            <span class="max-md:text-xs">Search</span>
                        </button>
                    </li>
                    <li class="py-2 md:hidden">
                        <button (click)="toggleMenu()"
                            class="group/nav-link text-lg font-semibold -tracking-tight flex max-md:flex-col items-center gap-2 cursor-pointer">
                            <img class="aspect-square w-8 object-cover rounded-full" src="assets/profile.jpg" alt="">
                            <span class="max-md:text-xs">Me</span>
                        </button>
                    </li>
                    <li class="py-2 max-md:hidden">
                        <a routerLink="/settings" routerLinkActive="nav-link-active"
                            class="group/nav-link text-lg font-semibold -tracking-tight flex max-md:flex-col items-center gap-2 cursor-pointer">
                            <i class="pi pi-cog group-hover/nav-link:text-sky-500 duration-200"
                                style="font-size: 1.5rem;"></i>
                            <span class="max-md:text-xs">Settings</span>
                        </a>
                    </li>
                    <li class="py-2 max-md:hidden">
                        <a (click)="report()" routerLinkActive="nav-link-active"
                            class="group/nav-link text-lg font-semibold -tracking-tight flex max-md:flex-col items-center gap-2 cursor-pointer">
                            <i class="pi pi-flag group-hover/nav-link:text-sky-500 duration-200"
                                style="font-size: 1.5rem;"></i>
                            <span class="max-md:text-xs">Report a problem</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- max-md:mb -->
            <div class="md:ms-64 md:mr-72">
                <router-outlet></router-outlet>
            </div>
            <div class="max-md:hidden md:w-72 fixed top-0 right-0 bottom-0 md:shadow-md">
                <div class="inner py-5">
                    <app-mentors></app-mentors>
                </div>
            </div>
        </div>
    </div>
    <div id="user-menu" class="fixed md:hidden top-0 left-0 right-0 bottom-0 translate-x-full duration-200">
        <div class="layer absolute top-0 left-0 right-0 bottom-0 bg-black/50 z-10" (click)="toggleMenu()"></div>
        <div class="inner relative z-20 w-3/4 ms-auto bg-white h-full">
            <div class="p-5">
                <div class="head flex items-center gap-5 mb-5 pb-5 border-b border-dashed border-slate-400">
                    <img class="size-20 rounded-full aspect-square object-cover" loading="lazy" src="assets/profile.jpg"
                        alt="profile image">
                    <div class="personal-info">
                        <h2 class="text-xl font-semibold -tracking-tight">Liam Weston</h2>
                        <p class="text-sm text-slate-400">Student</p>
                    </div>
                </div>
                <ul>
                    <li class="">
                        <a class="p-2 flex items-center gap-2">
                            <i class="pi pi-user" style="font-size: 1.5rem;"></i>
                            <span class="text-lg -tracking-tight">Profile</span>
                        </a>
                    </li>
                    <li class="">
                        <a (click)="toggleMenu()" routerLink="/settings" routerLinkActive="nav-link-active"
                            class="p-2 flex items-center gap-2">
                            <i class="pi pi-cog" style="font-size: 1.5rem;"></i>
                            <span class="text-lg -tracking-tight">Settings</span>
                        </a>
                    </li>
                    <li class="">
                        <a (click)="toggleMenu(); report();" routerLinkActive="nav-link-active"
                            class="p-2 flex items-center gap-2">
                            <i class="pi pi-flag" style="font-size: 1.5rem;"></i>
                            <span class="text-lg -tracking-tight">Report a problem</span>
                        </a>
                    </li>
                    <li class="">
                        <button (click)="logout()" class="p-2 flex items-center gap-2 text-red-500">
                            <i class="pi pi-sign-out" style="font-size: 1.5rem;"></i>
                            <span class="text-lg -tracking-tight">Logout</span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>