<div class="experience">
    <div class="head flex items-center justify-between mb-3">
        <h3 class="flex items-center gap-2 text-xl font-semibold -tracking-tight">
            <i class="pi pi-comments" style="font-size: 1.25rem;"></i>
            <span>Reviews</span>
        </h3>
        <button class="btn btn-main-outline">Add review</button>
    </div>
    <div class="content">
        <ul>
            <li class="p-2 border border-slate-200 rounded-md hover:border-sky-500 duration-200 mb-2">
                <div class="flex gap-2">
                    <img src="assets/google.png" alt="company logo"
                        class="aspect-square object-cover size-10 rounded-full border border-slate-400">
                    <div class="grow">
                        <h4 class="text-lg font-semibold tracking-tight">Liam Weston</h4>
                        <div class="rate flex items-center gap-1 mb-2">
                            <span class="text-sm">4.8</span>
                            <i class="pi pi-star-fill text-yellow-500" style="font-size: 0.8rem;"></i>
                        </div>
                        <p class="text-slate-400 font-light -tracking-tight">Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, doloribus.</p>
                    </div>
                </div>
            </li>
            <li class="p-2 border border-slate-200 rounded-md hover:border-sky-500 duration-200 mb-2">
                <div class="flex gap-2">
                    <img src="assets/google.png" alt="company logo"
                        class="aspect-square object-cover size-10 rounded-full border border-slate-400">
                    <div class="grow">
                        <h4 class="text-lg font-semibold tracking-tight">Liam Weston</h4>
                        <div class="rate flex items-center gap-1 mb-2">
                            <span class="text-sm">4.8</span>
                            <i class="pi pi-star-fill text-yellow-500" style="font-size: 0.8rem;"></i>
                        </div>
                        <p class="text-slate-400 font-light -tracking-tight">Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, doloribus.</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>