<section>
    <div class="discover-container max-md:mb-20">
        <h1 class="text-3xl m-2 font-semibold">Discover posts</h1>
        <div class="flex flex-col">
            @for (post of posts; track $index) {
                <div class="post-container">
                    <app-post [post]="post"></app-post>
                </div>
            }
        </div>
        <div class="action m-2">
            <button class="btn btn-main-solid w-full flex items-center justify-center gap-2"><span>Load more</span><i
                    class="pi pi-spinner animate-spin"></i></button>
        </div>
    </div>
</section>