<section>
    <div class="discover-container mb-20">
        <h1 class="text-3xl m-2 font-semibold">Discover posts</h1>
        <div class="card">
            <div class="inner m-2 p-2 rounded-md border border-slate-100">
                <div class="head flex gap-2 pb-2 mb-2 border-b border-dashed border-slate-400">
                    <img routerLink="/users/id/experience" class="aspect-square object-cover size-10 rounded-full"
                        loading="lazy" src="assets/profile.jpg" alt="profile image">
                    <div class="info grow">
                        <h5 class="font-semibold">Liam Weston</h5>
                        <p class="text-xs">12/11/2024</p>
                    </div>
                </div>
                <div class="content">
                    <p class="mb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, molestiae.</p>
                    <div class="images mb-2">
                        <img class="aspect-video object-cover rounded-md" loading="lazy" src="assets/cover.jpg"
                            alt="post photo">
                    </div>
                </div>
                <div class="actions flex items-center justify-between">
                    <button class="btn p-0 text-slate-400 flex items-center gap-2">
                        <i class="pi pi-heart" style="font-size: 1.5rem;"></i>
                        <span class="text-xs">Like</span>
                    </button>
                    <p><span class="text-sky-500">28 </span><span>Liked this post</span></p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="inner m-2 p-2 rounded-md border border-slate-100">
                <div class="head flex gap-2 pb-2 mb-2 border-b border-dashed border-slate-400">
                    <img routerLink="/users/id/experience" class="aspect-square object-cover size-10 rounded-full"
                        loading="lazy" src="assets/profile.jpg" alt="profile image">
                    <div class="info grow">
                        <h5 class="font-semibold">Liam Weston</h5>
                        <p class="text-xs">12/11/2024</p>
                    </div>
                </div>
                <div class="content">
                    <p class="mb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, molestiae.</p>
                    <div class="images mb-2">
                        <img class="aspect-video object-cover rounded-md" loading="lazy" src="assets/cover.jpg"
                            alt="post photo">
                    </div>
                </div>
                <div class="actions flex items-center justify-between">
                    <button class="btn p-0 text-slate-400 flex items-center gap-2">
                        <i class="pi pi-heart" style="font-size: 1.5rem;"></i>
                        <span class="text-xs">Like</span>
                    </button>
                    <p><span class="text-sky-500">28 </span><span>Liked this post</span></p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="inner m-2 p-2 rounded-md border border-slate-100">
                <div class="head flex gap-2 pb-2 mb-2 border-b border-dashed border-slate-400">
                    <img routerLink="/users/id/experience" class="aspect-square object-cover size-10 rounded-full"
                        loading="lazy" src="assets/profile.jpg" alt="profile image">
                    <div class="info grow">
                        <h5 class="font-semibold">Liam Weston</h5>
                        <p class="text-xs">12/11/2024</p>
                    </div>
                </div>
                <div class="content">
                    <p class="mb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, molestiae.</p>
                    <div class="images mb-2">
                        <img class="aspect-video object-cover rounded-md" loading="lazy" src="assets/cover.jpg"
                            alt="post photo">
                    </div>
                </div>
                <div class="actions flex items-center justify-between">
                    <button class="btn p-0 text-slate-400 flex items-center gap-2">
                        <i class="pi pi-heart" style="font-size: 1.5rem;"></i>
                        <span class="text-xs">Like</span>
                    </button>
                    <p><span class="text-sky-500">28 </span><span>Liked this post</span></p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="inner m-2 p-2 rounded-md border border-slate-100">
                <div class="head flex gap-2 pb-2 mb-2 border-b border-dashed border-slate-400">
                    <img routerLink="/users/id/experience" class="aspect-square object-cover size-10 rounded-full"
                        loading="lazy" src="assets/profile.jpg" alt="profile image">
                    <div class="info grow">
                        <h5 class="font-semibold">Liam Weston</h5>
                        <p class="text-xs">12/11/2024</p>
                    </div>
                </div>
                <div class="content">
                    <p class="mb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, molestiae.</p>
                    <div class="images mb-2">
                        <img class="aspect-video object-cover rounded-md" loading="lazy" src="assets/cover.jpg"
                            alt="post photo">
                    </div>
                </div>
                <div class="actions flex items-center justify-between">
                    <button class="btn p-0 text-slate-400 flex items-center gap-2">
                        <i class="pi pi-heart" style="font-size: 1.5rem;"></i>
                        <span class="text-xs">Like</span>
                    </button>
                    <p><span class="text-sky-500">28 </span><span>Liked this post</span></p>
                </div>
            </div>
        </div>
        <div class="action m-2">
            <button class="btn btn-main-solid w-full flex items-center justify-center gap-2"><span>Load more</span><i class="pi pi-spinner animate-spin"></i></button>
        </div>
    </div>
</section>