<div class="experience">
    <h3 class="flex items-center gap-2 text-xl font-semibold -tracking-tight mb-3">
        <i class="pi pi-paperclip" style="font-size: 1.25rem;"></i>
        <span>Experience</span>
    </h3>
    <div class="content">
        <ul>
            <li class="p-2">
                <div class="flex items-center gap-2">
                    <img src="assets/google.png" alt="company logo"
                        class="aspect-square object-cover w-10 h-10 rounded-md border border-slate-400">
                    <h4 class="text-lg">Google, LLC (2020, 2025)</h4>
                </div>
            </li>
            <li class="p-2">
                <div class="flex items-center gap-2">
                    <img src="assets/google.png" alt="company logo"
                        class="aspect-square object-cover w-10 h-10 rounded-md border border-slate-400">
                    <h4 class="text-lg">Google, LLC (2020, 2025)</h4>
                </div>
            </li>
            <li class="p-2">
                <div class="flex items-center gap-2">
                    <img src="assets/google.png" alt="company logo"
                        class="aspect-square object-cover w-10 h-10 rounded-md border border-slate-400">
                    <h4 class="text-lg">Google, LLC (2020, 2025)</h4>
                </div>
            </li>
            <li class="p-2">
                <div class="flex items-center gap-2">
                    <img src="assets/google.png" alt="company logo"
                        class="aspect-square object-cover w-10 h-10 rounded-md border border-slate-400">
                    <h4 class="text-lg">Google, LLC (2020, 2025)</h4>
                </div>
            </li>
        </ul>
    </div>
</div>